body{
   font-family: 'Unkempt', cursive;
   margin: 20px;
}
  

/* Nav Bar */
.first {
    background: linear-gradient(#acd9d4, #f9ced0);
}

.first {
    display: flex; 
    align-items: center;
    justify-content: center; 
    height: 60px;  
}

.first ul {
    margin-left: 470px; 
    list-style: none; 
}

.first a {
    text-decoration: none; 
    padding-left: 45px; 
    font-size: 20px; 
    color:#fffafa; 
}

.first a:hover {
    color: #f27f7d;
}




/* Banner*/

.banner{
   border: 2px solid black;
   height: 150px;
   margin-top: 20px;

   display: flex;
   justify-content: center;
   align-items: center;

}

/*Cards*/
.card-section{
   margin-top: 20px;
}

.card{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}


.card{
   border: 2px solid black;

}

.card img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.card p {
   padding: 20px;
   line-height: 1.5;
   size: 60px;
}


.bottom{
   text-align:center;
   margin: top 30px;
}
